* {
  text-align: center;

  font-family: Helvetica, sans-serif;
  color: #21252b;
}

h1 {
  font-size: 70px;
  color: white;
}

h2 {
  font-size: 32px;
}

.nav-link {
  color: white;
  font-size: 18px;
}

.hero {
  background-image: url(../media/the-flatiron-building.png);
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}
